.container {
  width: 750px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 25px;
  font-weight: bold;
  font-size: 25px;
  border: 10px dotted white;
  border-radius: 31px;
  background-image: linear-gradient(green, yellow, red);
}

.greeting{
  background-image: linear-gradient(blue, blueviolet, darkblue);
}

h1 {
  text-align: center;
  color: chocolate;
  text-shadow: 2px 2px 5px blueviolet;
  transition: color 2s, text-shadow 4s, letter-spacing 6s;

}

h1:hover {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 25px;
}

.container p {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  transition: text-shadow 4s, font-size 6s;
}

.container p:hover {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 50px;
}

.names {
  font-size: 75px;
  font-family: fantasy;
  position: absolute;
  top: 5px;
  left: 250px;
  z-index: 50;
  color: green;
  letter-spacing: 10px;
  word-spacing: 25px;
  text-shadow: 1px 1px 2px yellow, 0 0 25px blue, 0 0 5px #ffbf00;
}

.names:hover {
  color: white;
  text-shadow: 1px 1px 2px yellow;
}

.sign {
  float: right;
  font-size: 19px;
  color: white;
  margin-bottom: 19px;
}

.sign:after{
  clear: right;
}
