<audio controls autoplay id="audio_music">
  {{currentMusic}}
  <source [src]="currentMusic" type="audio/mpeg">
  <p>If you are reading this, it is because your browser does not support the audio element.</p>
</audio>

<div class="congratulation" style="margin-top: 200px;">
  <h1>С годовщиной свадьбы! С 39 летием!</h1>
</div>

<div class="container greeting">
  <h1>Добрый день, {{personName}}!</h1>
</div>

<div class="container" style="margin-bottom: 50px;">
  <h1>С празником!</h1>
  <p>Папа, мама, поздравляем Вас с годовщиной вашей свабьды, с 39 годовщиной свадьбы - Креповая свадьба!</p>
  <p>Желаем Вам крепкого здоровья, удачи, успехов, счастья, благополучия, радости, веселья, терпения, хорошего
    настроения
    и всего самого наилучшего!</p>

  <div class="sign">С уважением Таня и Дима!</div>
</div>

<h2 class="names">Сергей Галина</h2>
